@font-face {
    font-family: 'open_sans_condensedlight';
    src: url('../fonts/opensanscondensed-light-webfont.woff2') format('woff2'),
    url('../fonts/opensanscondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
/*    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;     */
}
body{
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*   Header   */

.container__1{
    width: 100%;
    background-color: #dcdcdc;
    margin: 0 auto;
}
.div__header{
    display: flex;
    flex-direction: row;
    width: 980px;
    padding: 65px 10px 65px 10px;
    margin: auto;
    height: 121px;
}
.picture__name{
    margin-top: auto;
    width: 273px;
    height: 100px;
}
.header__text{
    color: #767676;
    font-family: "Open Sans Condensed";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 46px;
    width: 260px;
    margin-left: auto;
}
.feedback{
    position: relative;
    top:-12px;
    margin-left: 80px;
    color: #767676;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 46px;
    border-bottom: 2px dashed;
}
/*   MENU   */

.container__2{
    width: 100%;
    background-color: #777777;
    margin: 0 auto;
}
.menu{
    width: 980px;
    margin: auto;
}
.menu li{
  padding: 25px 5px;
}
.menu__ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'PT Sans';
    font-size: 30px;
    color: #ffffff;
}
.menushka{
     text-decoration: none;
     color:white;
 }
.menushka:hover{
    border-bottom:2px solid;
}
.menu__ul li:after{
    content: "|";
    margin: 0 20px;
}
.menu__ul li:last-child:after {
    content: "";
    margin: 0;
}
/*   SLIDER   */

.container__3{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;
}
.slider__img{
    width: 1248px;
    box-sizing: border-box;
    margin: -62px auto 0 auto;
    display: block;
}
/*   MAIN   */

.container__4{
    width: 100%;
    margin: 10px auto 195px auto;
}
.div__for__breadcrumb{
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}
.main{
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.breadcrumb{
  padding: 0 10px;
  color: #767676;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  text-align: left;
}
.bread__underline{
  text-decoration: underline;
}
.catalog{
  width: 185px;
  height: 512px;
  margin-top: 27px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.ul__left{
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #767676;
  line-height: 30px;
  letter-spacing: 0.45px;
}
.ul__none{
  display: none;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 22px;
}
.ul__none{
  text-decoration: none;
}
.li__dropdown:hover .for__underline{
    text-decoration: underline;
}
.li__dropdown:hover .ul__none{
    display: block;
    list-style: disc;
    margin-left: 23px;
}
.ul__none li:hover {
  text-decoration: underline;
  font-weight: bold;
}
/*Content part*/
  .xxx__img{
    width: 97px;
    height: 111px;
    margin-top: auto;
    margin-left: 43px;
  }
  .price__list{
    color: #444444;
    font-family: "PT Sans";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: center;
    margin: 6px 0 0 15px;
  }
  .content{
    margin-left: auto;
    width: 780px;
    margin-top: 27px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .second__two{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .no__photo{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
  }
  .img__nophoto{
    width: 210px;
    height: 209px;
    margin: 20px 20px 0 20px;
  }
  .teapot{
    color: #767676;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    width: 188px;
    margin: 20px 0 0 20px;
  }
  .div__bottom{
    display: flex;
    flex-direction: row;
  }
  .price{
    color: #444444;
    font-family: "PT Sans";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    margin: 55px 0 0 22px;
  }
  .for__image{
    margin-top: 57px;
    margin-left: 65px;
  }
  .img__cart{
    width: 28px;
    height: 21px;
  }
  .ciferki{
    margin-top: 32px;
    color: #767676;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    letter-spacing: 7.91px;
  }
  .triyka{
    color: #444444;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 10.17px;
    line-height: normal;
  }
  .line{
    height: 1px;
    width: 100%;
    background-color: #777777;
    margin-top: 67px;
  }
  .two__ps{
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .two{
    width: 372px;
    color: #767676;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.35px;
  }
.grid a{
  text-decoration: none;
  color: #444444;
}

/*   FOOTER   */

.container__5{
    width: 100%;
    background-color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:auto;
}
.footer{
    width: 980px;
    padding: 0 10px 0 10px;
    margin: 50px 0 53px 0;
    display: flex;
    flex-direction: row;
}
.p__prava{
    width: 200px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    justify-self: left;
    margin-right: 150px;
}
.ul__list{
    width: 119px;
    color: #ffffff;
    font-family : "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-decoration: underline;
}
.right__text{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
}
.little_logo{
    width: 36px;
    height: 38px;
}
.underline{
    border-bottom: 1px solid;
}
.display__block{
    display: block;
}
.text__sprava{
    margin-left: 9px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
}
.div__archive{
  text-decoration: underline;
  text-align: right;
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.025em;
  color: #ffffff;
}
